## Este archivo .gitignore hace que GitHub ignore los siguientes archivos para
## no subirlos al repositorio para cuando hagamos cambios.

# Entorno virtual
.venv
venv/
env/

# Cache de Python
__pycache__/
*.pyc

# Archivos del sistema
.DS_Store