<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Panel Administrador{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>

    <div class="admin-layout">

        <aside class="admin-sidebar">

            <div class="admin-logo">
                <span>NAZA</span>
                <small>RESTAURANTE</small>
            </div>

            <nav class="admin-menu">

                <a href="{{ url_for('dashboard.dashboard') }}"
                   class="{% if request.endpoint == ' dashboard.dashboard' %}active{% endif %}">
                    Dashboard
                </a>

                <a href="{{ url_for('admin_reservas.reservas') }}"
                   class="{% if request.endpoint == 'admin_reservas.reservas' %}active{% endif %}">
                    Reservas
                </a>

                <a href="{{ url_for('admin_menu.menu') }}"
                   class="{% if request.endpoint == 'admin_menu.menu' %}active{% endif %}">
                    Menú
                </a>

                <a href="{{ url_for('admin_resenas.resenas') }}"
                   class="{% if request.endpoint == 'admin_resenas.resenas' %}active{% endif %}">
                    Reseñas
                </a>

                <a href="{{ url_for('servicios.servicios') }}"
                   class="{% if request.endpoint == 'servicios.servicios' %}active{% endif %}">
                    Servicios
                </a>

                <a href="{{ url_for('estadisticas.estadisticas') }}"
                   class="{% if request.endpoint == 'estadisticas.estadisticas' %}active{% endif %}">
                    Estadísticas
                </a>

                <a href="{{ url_for('configuracion.configuracion') }}"
                   class="{% if request.endpoint == 'configuracion.configuracion' %}active{% endif %}">
                    Configuración
                </a>

            </nav>

        </aside>

        <main class="admin-content"> 
            {% block content %}
         
            {% endblock %}
        </main>

    </div>

</body>
</html>