{% extends "admin/base.html" %}

{% block title %}
Configuración - NAZA Admin
{% endblock %}

{% block content %}

<h1 class="admin-page-title">
    Configuración
</h1>

<p class="admin-page-subtitle">
    Configuración de los datos del restaurante.
</p>

<form method="POST">

    <div class="admin-config-section">

        <div class="admin-config-grilla">

            <div class="admin-campo-grupo">

                <label>Nombre</label>

                <input
                    type="text"
                    name="nombre"
                    value="{{ config.nombre or '' }}"
                    required>

            </div>

            <div class="admin-campo-grupo">

                <label>Email</label>

                <input
                    type="email"
                    name="email"
                    value="{{ config.email or '' }}">

            </div>

            <div class="admin-campo-grupo">

                <label>Teléfono</label>

                <input
                    type="text"
                    name="telefono"
                    value="{{ config.telefono or '' }}">

            </div>

            <div class="admin-campo-grupo">

                <label>Ubicación</label>

                <input
                    type="text"
                    name="ubicacion"
                    value="{{ config.ubicacion or '' }}">

            </div>

            <div class="admin-campo-grupo">

                <label>Dias</label>

                <input
                    type="text"
                    name="dias"
                    value="{{ config.dias or '' }}">

            </div>

            <div class="admin-campo-grupo">

                <label>Horario</label>

                <input
                    type="text"
                    name="horario"
                    value="{{ config.horario or '' }}">

            </div>

        </div>

        <div class="admin-acciones-bottom">

            <button
                type="submit"
                class="admin-btn-primario">

                GUARDAR CAMBIOS

            </button>

        </div>

    </div>

</form>

{% endblock %}