{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='styles/admin.css') }}">

<div class="pagina-admin-form">

    <div class="editar-agregar-container">

        <form
            action="{{ url_for('servicios_admin.put_servicio', id=servicio.id) }}"
            method="POST"
        >

            <label>Nombre</label>

            <input
                type="text"
                name="nombre"
                value="{{ servicio.nombre }}"
                required
            >

            <label>Disponible</label>

            <select name="disponible">

                <option
                    value="SI"
                    {% if servicio.disponible == 'SI' %}selected{% endif %}
                >
                    SI
                </option>

                <option
                    value="NO"
                    {% if servicio.disponible == 'NO' %}selected{% endif %}
                >
                    NO
                </option>

            </select>

            <button type="submit">
                Guardar cambios
            </button>

        </form>

    </div>

</div>

{% endblock %}