{% extends "admin/base.html" %}

{% block title %}Servicios{% endblock %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">

<h1 class="admin-page-title">Servicios</h1>
<p class="admin-page-subtitle">Administra servicios extras que ofrece tu restaurante</p>

<div class="admin-tabla-card">
    <table class="admin-tabla">
        <thead>
            <tr>
                <th>Servicio</th>
                <th>Disponibilidad</th>
            </tr>
        </thead>
        <tbody>
            {% if servicios %}
                {% for r in servicios %}
                <tr>
                    <td>{{ r.servicio }}</td>
                    <td>{{ r.id }}</td>

                    <td>
                        <a href="{{ url_for('servicios_admin.editar_servicio', id=r.id) }}">
                           Editar
                        </a>
                    </td>

                    <td>
                        <form action="{{ url_for('servicios_admin.eliminar_servicio', id=r.id) }}" method="POST"
                              onsubmit="return confirm('¿Eliminar {{ r.servicio }}?')">
                              <button type="submit">Eliminar</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            {% endif %}

        </tbody>
    </table>
</div>

<div class="agregar-plato">
    <a href="{{ url_for('servicios_admin.agregar_servicio') }}">
        + Agregar servicio
    </a>
</div>

{% endblock %}