<!---------- Contacto ---------->
{% extends "public/base.html" %}

{% block titulo %}Contacto{% endblock %}

{% block contenido_body %}

<section class="contacto-container">

    <h1>Nuestras redes sociales.</h1>

    <div class="contacto-redes">
        <a href="#" class="red-social" aria-label="Instagram">
            <i class="bi bi-instagram"></i>
        </a>
        <a href="#" class="red-social" aria-label="TikTok">
            <i class="bi bi-tiktok"></i>
        </a>
        <a href="#" class="red-social" aria-label="Facebook">
            <i class="bi bi-facebook"></i>
        </a>
        <a href="#" class="red-social" aria-label="X">
            <i class="bi bi-twitter-x"></i>
        </a>
    </div>

    <div class="contacto-info">
        <div class="contacto-item">
            <h2>Email.</h2>
            <p>{{ config.email }}</p>
        </div>
        <div class="contacto-item">
            <h2>Telefono.</h2>
            <p>{{ config.telefono }}</p>
        </div>
    </div>

</section>

{% endblock %}