<!---------- Login CLIENTES ---------->
{% extends "public/base.html" %}

{% block titulo %}Login Cliente{% endblock %}

{% block contenido_body %}

<div class="login-container">

    <div class="login-card">

        <div class="login-logo">
            <span>{{ config.nombre }}</span>
        </div>

        <form action="{{ url_for('login.login_cliente') }}" method="POST">

            <div class="login-campos">
                <label for="email">EMAIL</label>

                <input
                    type="email"
                    id="email"
                    name="email"
                    placeholder="admin@naza"
                    required
                >
            </div>

            <div class="login-campos">
                <label for="contrasena">CONTRASEÑA</label>

                <div class="login-password-wrapper">
                    <input
                        type="password"
                        id="contrasena"
                        name="contrasena"
                        placeholder="••••••••"
                    >

                    <button
                        type="button"
                        class="login-toggle-password"
                        onclick="togglePassword('contrasena','icono-ojo-3')"
                    >
                        <i class="bi bi-eye" id="icono-ojo-3"></i>
                    </button>
                </div>
            </div>

            <p class="registrarse-link">
                ¿No tenés cuenta?
                <a href="{{ url_for('registro.registro') }}">
                    Registrate
                </a>
            </p>

            <button type="submit" class="login-button">
                INICIAR SESIÓN
            </button>

        </form>

    </div>

</div>

<script>
document.body.classList.add("login-body");
</script>

{% endblock %}