<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet"
          href="{{ url_for('static', filename='styles/style.css', _external=True) }}">

    <link rel="icon"
          type="image/x-icon"
          href="{{ url_for('static', filename='images/favicon.ico', _external=True) }}">

    <title>
        {% block titulo %}
            Naza - Restaurante
        {% endblock %}
    </title>

</head>

<body>
    <header>

        <nav class="navbar">

            <div class="logo">

                <img src="{{ url_for('static', filename='images/logo.png', _external=True) }}">

                <div>
                    <h2>NAZA</h2>
                    <span>RESTAURANTE</span>
                </div>

            </div>


            <ul class="nav-links">

                <li>
                    <a href="{{ url_for('inicio.inicio', _external=True) }}">
                        Inicio
                    </a>
                </li>

                <li>
                    <a href="{{ url_for('menu.menu', _external=True) }}">
                        Menú
                    </a>
                </li>

                <li>
                    <a href="{{ url_for('reservas.reservas', _external=True) }}">
                        Reservas
                    </a>
                </li>

                <li>
                    <a href="#">
                        Reseñas
                    </a>
                </li>

                <li>
                    <a href="#">
                        Nosotros
                    </a>
                </li>

                <li>
                    <a href="#">
                        Contacto
                    </a>
                </li>

            </ul>

            <a class="boton-reserva"
            href="{{ url_for('reservas.reservas') }}">
                Reservar mesa
            </a>

        </nav>
    </header>
 
    {% block content %}{% endblock %}

    <footer>
        <p>
            &copy; 2026 NAZA RESTAURANTE - 
            <a href="{{ url_for('login.login', _external=True) }}">
                ACCESO STAFF
            </a>
        </p>
    </footer>

    <script src="{{ url_for('static', filename='scripts/script.js', _external=True) }}"></script>
</body>

</html>